/*General*/
body {
  font-family: 'Karla',sans-serif;
  font-size: 16px;
}
h1 {
  text-transform: uppercase;
  font-family: 'Karla',sans-serif;
  font-weight: 700;
}
/*Header*/
.logo img {
  width: 140px;
}
.logo::after {
    content: '- Clone';
    font-family: 'Karla',sans-serif;
    color: #ee6123;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: -8px;
    left: 25px;
    font-size: 20px;
}
.navbar-default {
  border:none;
  background: transparent;
}
.navbar-fixed-top {
  position: absolute;
}
.nav-flex {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    margin-right: 15px;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#ee6123;
}

/*Hero*/
.hero-bg {
  background: url(/img/hero.jpg);
  min-height: 60vh;
  display: flex;
  align-items: center;
}
.hero-wrapper {
  margin-top: 10%;
  color: #fff;
}
.hero-wrapper h1 {
  font-size: 3em;
  letter-spacing: 2;
}

#url-output-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  background: #eee;
  margin-top: -4em;
  z-index: 5;
  padding: 1em 2em 2em;
  border-radius: 20px;
  opacity: 0;
  transition: .5s all ease;
}
#history-wrapper {
  opacity: 0;
  transition: .5s all ease;
}
/*Form*/
form {
  margin-top: 2em;
  margin-bottom: 2em;
}
.url-form {
  width: 50%;
  padding: 15px;
  transition: .3s all ease;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
}
.url-form:focus {
  background-color: #fef7f4;
  color: #ee6123;
  border: 1px solid #ee6123;
}
.btn-submit {
    padding: 15px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ee6123;
    background: #ee6123;
    color: #fff;
    text-transform: uppercase;
    margin-left: -4px;
    transition: .3s all ease;
}
.btn-submit:active {
  box-shadow: inset 0px 2px 7px 0px #8c330d;
}
.btn-submit:hover {
  background: #e45212;
  border: 1px solid #ee6123;
}

/*Table*/
#url-table {
  box-shadow: 2px 2px 11px 2px #eee;
  margin-top: 2em;
  margin-bottom: 2em;
}
thead {
  background: #ee6123;
  color: #fff;
}
th, td {
    padding: 10px;
}
